/**
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2015 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */
/* Layout - Sprocket Strips - Colors */
.sprocket-strips-s-pagination li {background: #000;color: #fff;}


/* Layout - Sprocket Strips - Core */
.sprocket-strips-s {position: relative; margin-bottom: -20px;}
.sprocket-strips-s:after {display: inline-block;content: "";*zoom: 1;clear: both;}
.sprocket-strips-s-container {list-style: none !important;overflow: hidden;padding: 0;margin: 0 -1%;}
.sprocket-strips-s-container:before, .sprocket-strips-s-container:after {content: "";display: table;line-height: 0;}

/* Layout - Sprocket Strips - Items */
.sprocket-strips-s-item {background-size: cover;border-radius: 2px;}
.sprocket-strips-s-content {z-index: 2;margin: 0;}
.sprocket-strips-s-title {margin-top: 30px;}
.sprocket-strips-s-text {display: block;}
.sprocket-strips-s-content .readon {display: inline-block;margin-top: 1px;}
.sprocket-strips-s-block {display: inline-block !important;vertical-align: top;margin: 0 -4px 0 0;box-sizing: border-box;padding: 0 1%;border-bottom: 0px !important;}
.cols-1 .sprocket-strips-s-block {width: 100%;}
.cols-2 .sprocket-strips-s-block {width: 50%;}
.cols-3 .sprocket-strips-s-block {width: 33.33%;}
.cols-4 .sprocket-strips-s-block {width: 25%;}
.cols-5 .sprocket-strips-s-block {width: 20%;}
.cols-6 .sprocket-strips-s-block {width: 16.6667%;}
.cols-7 .sprocket-strips-s-block {width: 14.2555%;}
.cols-8 .sprocket-strips-s-block {width: 12.5%;}
.cols-9 .sprocket-strips-s-block {width: 11.11%;}
.cols-10 .sprocket-strips-s-block {width: 10%;}
.cols-11 .sprocket-strips-s-block {width: 9.09%;}
.cols-12 .sprocket-strips-s-block {width: 8.33%;}

@media (min-width: 481px) and (max-width: 767px) {
	.sprocket-strips-s-container .sprocket-strips-s-block {width: 50%;}
}

@media (max-width: 480px) {
	.sprocket-strips-s-item img {width: auto;float: none;margin: 0;}
	.sprocket-strips-s-container .sprocket-strips-s-block {width: 100%;float: none;}
}

/* Layout - Sprocket Strips - Navigation */
.sprocket-strips-s-nav {display: table;width: 100%;}
.sprocket-strips-s-pagination {display: inline-block;vertical-align: middle;}
.sprocket-strips-s-pagination ul {float: left;margin: 0 !important;padding: 0 !important;}
.sprocket-strips-s-pagination li {display: inline-block !important;padding: 4px !important;opacity: 0.3;border-radius: 1em;cursor: pointer;width: 10px;height: 10px;}
.sprocket-strips-s-pagination li.active {opacity: 1;}
.sprocket-strips-s-pagination li span {display: none;font-size: 0em;line-height: 0em;}
.sprocket-strips-s-pagination-hidden {display: none;}
.sprocket-strips-s-arrows {display: table-cell;vertical-align: middle;}
.sprocket-strips-s-arrow ul {float: right;margin: 0 !important;padding: 0 !important;}
.sprocket-strips-s-arrows .arrow {display: block;width: 30px;height:30px;border-radius: 0px;border: 5px solid rgba(0,0,0,0.1);opacity: 0.5;cursor: pointer;float: right;margin-left: 5px;text-align: center;font-size: 2em;position: relative; background: transparent;color: rgba(0,0,0,0.1);}
.sprocket-strips-s-arrows .arrow:hover {opacity: 1;}
.sprocket-strips-s-arrows .arrow:before {content: '';width: 0;height: 0;position: absolute;top: 50%;margin-top: -5px;border-top: 5px solid transparent;border-bottom: 5px solid transparent;}
.sprocket-strips-s-arrows .prev:before {left: 50%;margin-left: -3px;border-right: 5px solid;}
.sprocket-strips-s-arrows .next:before {right: 50%;margin-right: -3px;border-left: 5px solid;}

/* Spinner */
.sprocket-strips-s-overlay {display: none;position: absolute;margin-top: -66px;top:50%;left:0;right:0;bottom:0;background-color:transparent;z-index:5;}
.sprocket-strips-s-overlay .css-loader-wrapper {width: 80px;height:80px;margin: 0 auto;padding: 20px;background-color: rgba(0, 0, 0, 0.7);box-shadow:0 0 5px rgba(0, 0, 0, 0.4) inset,1px 1px 1px rgba(255, 255, 255, 0.1);border-radius:0em;}
.sprocket-strips-s.loading .sprocket-strips-s-overlay {display: block;}
.sprocket-strips-s-overlay .css-loader {display: block;margin: 0 auto;font-size: 10px;position: relative;text-indent: -9999em;border-top: 8px solid rgba(255, 255, 255, 0.2);border-right: 8px solid rgba(255, 255, 255, 0.2);border-bottom: 8px solid rgba(255, 255, 255, 0.2);border-left: 8px solid #ffffff;-webkit-animation: loader 1.1s infinite linear;animation: loader 1.1s infinite linear;}
.sprocket-strips-s-overlay .css-loader {border-radius: 50%;width: 44px;height: 44px;}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.roksprocket-ellipsis {display: none;}