a {
  color: #26c566;
}
a:hover {
  color: #1e9a50;
}
body {
  color: #3e5050;
}
#sp-top-b,
#sp-position-a {
  color: #ffffff;
  background: #3e5050;
}
#sp-top-b a,
#sp-position-a a {
  color: #26c566;
}
#sp-top-b a:hover,
#sp-position-a a:hover {
  color: #ffffff;
}
#sp-user-section,
#sp-bottom {
  background: #f0f4f4;
}
#sp-bottom-a {
  color: #ffffff;
  background: #26c566;
}
#sp-bottom-a a {
  color: #3e5050;
}
#sp-bottom-a a:hover {
  color: #ffffff;
}
#sp-bottom-b {
  color: #ffffff;
  background: #3e5050;
}
#sp-bottom-b a {
  color: #26c566;
  padding: 0;
}
#sp-bottom-b a:before {
  display: none;
}
#sp-bottom-b a:hover {
  color: #ffffff;
}
#sp-bottom-b .sp-module-title {
  font-size: 24px;
}
#sp-bottom-b .category-module li {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#sp-bottom-b .category-module li:last-child {
  margin-bottom: 0px;
  border-bottom: 0;
}
#sp-bottom-b .category-module li a {
  line-height: 20px;
}
#sp-bottom-b hr {
  border-color: rgba(255,255,255,0.1);
  margin-top: 10px;
  margin-bottom: 10px;
}
#sp-bottom-b p {
  margin-bottom: 5px;
}
.sp-megamenu-parent >li a {
  color: #3e5050;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #26c566;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #26c566;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #26c566;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a {
  color: #3e5050;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a.sp-group-title {
  color: #26c566;
  border-bottom: 1px solid #f0f4f4;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a.sp-group-title:hover {
  color: #ffffff;
}
#offcanvas-toggler >i {
  color: #3e5050;
}
#offcanvas-toggler >i:hover {
  color: #26c566;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #21ab59;
  background-color: #26c566;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #1a8545;
  background-color: #1e9a50;
}
#sp-header #sp-search {
  color: #fff;
  background: #26c566;
  height: 90px;
  line-height: 90px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  #sp-header {
    position: relative !important;
  }
  #sp-header #sp-search {
    line-height: 50px;
  }
}
#sp-page-title {
  background: #26c566;
  background-image: url("../../images/bread.png");
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #3e5050;
}
.sp-module ul >li >a:hover {
  color: #26c566;
}
.sp-module .latestnews >div >a {
  color: #3e5050;
}
.sp-module .latestnews >div >a:hover {
  color: #26c566;
}
.sp-module .tagscloud .tag-name {
  color: #ffffff !important;
  background: #26c566;
  padding: 5px 15px !important;
  margin-right: 8px;
  margin-bottom: 15px;
}
.sp-module .tagscloud .tag-name:hover {
  color: #26c566 !important;
  background: #ffffff;
}
.label-info {
  background: #3e5050;
}
.label-info:hover {
  background: #26c566 !important;
}
.sp-module.title1 .sp-module-title::after {
  content: "";
  background: #26c566;
  display: block;
  position: relative;
  width: 30px;
  height: 4px;
  z-index: 1;
  margin-top: 25px;
  margin-bottom: -5px;
  border-radius: 25px;
}
.sp-module.title2 .sp-module-title {
  text-align: center;
}
.sp-module.title2 .sp-module-title::after {
  content: "";
  background: #26c566;
  display: block;
  position: relative;
  width: 30px;
  height: 4px;
  z-index: 1;
  margin: 25px auto -5px;
  border-radius: 25px;
}
.sp-module.title3 .sp-module-title::after {
  content: "";
  background: #3e5050;
  display: block;
  position: relative;
  width: 30px;
  height: 4px;
  z-index: 1;
  margin-top: 25px;
  margin-bottom: -5px;
  border-radius: 25px;
}
.sp-module.title4 {
  background: transparent;
  color: #86a1a1;
  border: 3px solid #86a1a1;
  padding: 35px;
  border-radius: 5px;
}
.sp-module.title5 {
  background: #26c566;
  color: #fff;
  padding: 35px;
  border-radius: 5px;
}
.sp-module.title5 .sp-module-title {
  color: #fff;
}
.sp-module.title5 em,
.sp-module.title5 a {
  color: #3e5050 !important;
}
.sp-module.title5 em:hover,
.sp-module.title5 a:hover {
  color: #fff !important;
}
.sp-module.title6 {
  background: #3e5050;
  padding: 50px 0;
  color: #fff;
  padding: 35px;
  border-radius: 5px;
}
.sp-module.title6 .sp-module-title {
  color: #fff;
}
.sp-module.title6 a {
  color: #26c566;
}
.sp-module.title6 a:hover {
  color: #fff;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #26c566;
}
.search .btn-toolbar button {
  background: #26c566;
}
.search .btn-toolbar span.icon-search {
  margin-right: 5px;
}
.article-info >dd {
  color: #3e5050;
}
.post-format {
  background: #26c566;
}
.voting-symbol span.star.active:before {
  color: #26c566;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #1e9a50;
}
.entry-link,
.entry-quote {
  background: #26c566;
}
.entry-header h2 a {
  color: #26c566;
}
.entry-header h2 a:hover {
  color: #3e5050;
}
.readmore .btn-default {
  color: #fff;
  background: #26c566;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #26c566;
}
.readmore .btn-default:hover {
  border: 1px solid #3e5050;
  color: #3e5050;
  background: transparent;
}
.pager .next > a,
.pager .next > span,
.pager .previous > a,
.pager .previous > span {
  color: #3e5050;
  background: transparent;
  border: 1px solid #3e5050;
  border-radius: 5px;
  box-shadow: none;
}
.pager .next > a:hover,
.pager .next > span:hover,
.pager .previous > a:hover,
.pager .previous > span:hover {
  background: #3e5050;
  color: #fff;
}
.well {
  background: transparent;
  border: 1px solid #e5e5e5;
  box-shadow: none;
}
legend {
  color: #3e5050;
}
blockquote {
  border-color: #26c566;
}
.sp-dropcap {
  overflow: hidden;
}
.sp-dropcap:first-letter {
  color: #fff;
  background: #26c566;
  display: block;
  float: left;
  font-size: 65px;
  line-height: 50px;
  padding: 20px;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 5px;
}
em,
b,
strong {
  color: #26c566;
}
strong {
  font-weight: 700;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #26c566;
}
#sp-footer {
  border-top: 1px solid rgba(255,255,255,0.1);
  background: #3e5050;
}
#sp-footer .to-top {
  color: #26c566;
  float: right;
}
.sp-comingsoon body {
  background-color: #26c566;
}
.error-page .error-page-inner {
  color: #fff;
  background: #26c566 !important;
  background-image: url("../../images/404.html") !important;
  background-repeat: no-repeat !important;
  background-position: top center !important;
}
.pagination>li>a,
.pagination>li>span {
  color: #3e5050;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #3e5050;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #26c566;
  background-color: #26c566;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #26c566;
  background-color: #26c566;
}
.conto-box {
  color: #ffffff;
  background: #26c566;
  border: 6px solid rgba(0,0,0,0.1);
}
.conto-box a {
  color: #ffffff;
}
.conto-box a .conto-main,
.conto-box a .conto-icon,
.conto-box a .conto-desc {
  color: #ffffff;
}
.conto-box:hover {
  color: #3e5050;
  background: transparent;
  border-color: #26c566;
}
.conto-box:hover .conto-main,
.conto-box:hover .conto-icon,
.conto-box:hover .conto-desc {
  color: #3e5050;
}
.sprocket-lists .sprocket-lists-title .indicator {
  background: none;
}
.sprocket-lists-item {
  border: 6px solid #26c566 !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.active .indicator:before {
  color: #fff !important;
}
.active .sprocket-lists-title {
  color: #fff !important;
  background: #26c566 !important;
}
.sprocket-lists-title {
  color: #ffffff !important;
  background: #3e5050 !important;
  border: 0 !important;
}
.sprocket-lists-title:hover {
  color: #fff;
  background: #26c566 !important;
  border-color: #26c566;
}
.sprocket-lists-title:hover .indicator:before {
  color: #fff !important;
}
.sprocket-lists .readon::after {
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  background: #26c566;
}
.sprocket-strips-item .sprocket-strips-text {
  color: #a3b7b7;
}
.sprocket-strips-content hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #bfcece;
}
.sprocket-quotes-item .uk-grid > *:first-child {
  padding-left: 0px;
}
.sprocket-mosaic-g-overlay .css-loader-wrapper,
.sprocket-strips-overlay .css-loader-wrapper,
.sprocket-strips-s-overlay .css-loader-wrapper,
.sprocket-strips-p-overlay .css-loader-wrapper,
.sprocket-quotes-overlay .css-loader-wrapper,
.sprocket-mosaic-overlay .css-loader-wrapper {
  background: rgba(38,197,102,0.5) !important;
  border-radius: 50% !important;
}
.sprocket-lists-arrows .arrow,
.sprocket-strips-p-arrows .arrow,
.sprocket-strips-s-arrows .arrow,
.sprocket-strips-arrows .arrow,
.sprocket-quotes-arrows .arrow {
  color: #fff !important;
  background: #26c566 !important;
  border-radius: 5px !important;
  border-color: transparent !important;
}
.sprocket-lists-pagination li,
.sprocket-strips-s-pagination li,
.sprocket-quotes-pagination li {
  border-radius: 50px !important;
  background: #26c566 !important;
  padding: 6px !important;
}
.sprocket-tables-block .sprocket-tables-price {
  color: #3e5050 !important;
}
.sprocket-tables-block .sprocket-tables-title a {
  color: #3e5050 !important;
}
.sprocket-tables-block .sprocket-tables-title a [class*="uk-icon-"] {
  color: rgba(0,0,0,0.4) !important;
}
.sprocket-tables-block:hover .sprocket-tables-title a [class*="uk-icon-"] {
  color: #26c566 !important;
}
.sprocket-tables-block .readon {
  color: #fff !important;
  background: #26c566 !important;
  border-radius: 5px !important;
  padding: 15px 25px !important;
}
.sprocket-tables-block .readon:hover {
  background: #43db80 !important;
}
.sprocket-tables-image {
  padding: 25px 25px 0px 25px;
}
.sprocket-mosaic-item {
  border: 1px solid #f0f4f4;
}
.sprocket-mosaic-tags {
  background: #f0f4f4 !important;
}
.sprocket-mosaic .sprocket-mosaic-tags li,
#main .sprocket-mosaic ul.sprocket-mosaic-tags li {
  color: #3e5050;
  background: #ffffff;
}
#main .sprocket-mosaic .sprocket-mosaic-filter ul li,
#main .sprocket-mosaic .sprocket-mosaic-filter ul li,
.sprocket-mosaic .sprocket-mosaic-filter li,
.sprocket-mosaic .sprocket-mosaic-filter li,
#main .sprocket-mosaic .sprocket-mosaic-order ul li,
#main .sprocket-mosaic .sprocket-mosaic-order ul li,
.sprocket-mosaic .sprocket-mosaic-order li,
.sprocket-mosaic .sprocket-mosaic-order li {
  color: rgba(62,80,80,0.3);
  font-size: 13px;
  padding: 5px 10px !important;
  border-radius: 5px !important;
  border: 1px solid rgba(62,80,80,0.3) !important;
  transition: all 0.4s ease-in-out 0s;
  background: transparent !important;
}
#main .sprocket-mosaic .sprocket-mosaic-filter ul li:hover,
#main .sprocket-mosaic .sprocket-mosaic-filter ul li:hover,
.sprocket-mosaic .sprocket-mosaic-filter li:hover,
.sprocket-mosaic .sprocket-mosaic-filter li:hover,
#main .sprocket-mosaic .sprocket-mosaic-order ul li:hover,
#main .sprocket-mosaic .sprocket-mosaic-order ul li:hover,
.sprocket-mosaic .sprocket-mosaic-order li:hover,
.sprocket-mosaic .sprocket-mosaic-order li:hover,
#main .sprocket-mosaic .sprocket-mosaic-filter ul li:focus,
#main .sprocket-mosaic .sprocket-mosaic-filter ul li:focus,
.sprocket-mosaic .sprocket-mosaic-filter li:focus,
.sprocket-mosaic .sprocket-mosaic-filter li:focus,
#main .sprocket-mosaic .sprocket-mosaic-order ul li:focus,
#main .sprocket-mosaic .sprocket-mosaic-order ul li:focus,
.sprocket-mosaic .sprocket-mosaic-order li:focus,
.sprocket-mosaic .sprocket-mosaic-order li:focus {
  color: #fff;
  background: #26c566 !important;
  border-color: #26c566 !important;
  transition: all 0.4s ease-in-out 0s;
}
#main .sprocket-mosaic .sprocket-mosaic-g-order ul li,
.sprocket-mosaic .sprocket-mosaic-g-order li,
#main .sprocket-mosaic .sprocket-mosaic-g-filter ul li,
.sprocket-mosaic .sprocket-mosaic-g-filter li {
  color: rgba(62,80,80,0.5) !important;
  font-size: 13px !important;
  padding: 5px 10px !important;
  border-radius: 4px !important;
  background: transparent;
  transition: all 0.4s ease-in-out 0s;
}
.sprocket-mosaic-g-filter li.active,
.sprocket-mosaic-g-order li.active {
  background: #26c566 !important;
  color: #fff !important;
}
.uk-button {
  color: #fff !important;
  background: #3e5050;
  border-radius: 5px;
  border: 0;
  border-color: inherit;
  text-shadow: none !important;
  box-shadow: none;
  text-shadow: none;
  padding: 5px 18px;
  font-size: 14px;
  transition: all 0.3s ease-in-out 0s;
}
.uk-button:hover {
  color: #fff;
  background: #506767;
}
.uk-text-white {
  color: #ffffff;
}
.uk-text-default {
  color: #3e5050 !important;
}
.uk-text-primary {
  color: #26c566 !important;
}
.uk-text-gray {
  color: rgba(62,80,80,0.2);
}
.uk-badge-primary,
.uk-button-primary {
  color: #fff;
  background: #26c566;
  border: 1px solid #26c566;
}
.uk-badge-primary:hover,
.uk-badge-primary:focus,
.uk-button-primary:hover,
.uk-button-primary:focus {
  background: #3bd97a;
  border: 1px solid #26c566;
}
.uk-button-inverted {
  color: #3e5050 !important;
  background: #ffffff;
  border: 1px solid #ffffff;
}
.uk-button-inverted:hover,
.uk-button-inverted:focus {
  color: #ffffff !important;
  background: transparent;
  border: 1px solid #ffffff;
}
.uk-button-mini {
  font-size: 10px;
}
.uk-button-large {
  font-size: 18px;
  padding: 15px 35px;
}
.uk-button-primary,
.uk-button-success,
.uk-button-danger {
  box-shadow: none;
  text-shadow: none;
}
.uk-badge-success,
.uk-button-success {
  color: #fff;
  background: #71BA51;
  border: 1px solid #71BA51;
}
.uk-badge-success:hover,
.uk-badge-success:focus,
.uk-button-success:hover,
.uk-button-success:focus {
  background: rgba(113,186,81,0.8);
  border: 1px solid #71BA51;
}
.uk-badge-danger,
.uk-button-danger {
  color: #fff;
  background: #FC575E;
  border: 1px solid #FC575E;
}
.uk-badge-danger:hover,
.uk-badge-danger:focus,
.uk-button-danger:hover,
.uk-button-danger:focus {
  background: rgba(252,87,94,0.8);
  border: 1px solid #FC575E;
}
.uk-badge-warning,
.uk-button-warning {
  color: #fff;
  background: #EDD834;
  border: 1px solid #EDD834;
}
.uk-badge-warning:hover,
.uk-badge-warning:focus,
.uk-button-warning:hover,
.uk-button-warning:focus {
  background: rgba(237,216,52,0.8);
  border: 1px solid #EDD834;
}
.uk-badge-notification {
  border-radius: 50%;
  padding: 5px;
  min-width: 30px;
  min-height: 30px;
}
.uk-overlay-panel {
  padding-left: 30px;
}
.uk-progress-bar {
  background: #26c566;
}
.uk-icon-button {
  color: #ffffff;
  background: #22b05b;
  border-radius: 50%;
  border: 0;
  text-shadow: none !important;
}
.uk-icon-button:hover,
.uk-icon-button:focus {
  color: #fff;
  background: #3e5050;
}
.uk-modal {
  background: rgba(62,80,80,0.8);
}
.searchme .uk-modal-dialog {
  margin: 150px auto;
  background: transparent;
  padding: 0px;
  box-shadow: none !important;
}
.searchme .uk-modal-dialog input[type="text"] {
  font-size: 24px;
  height: 100px;
  border-color: #f0f4f4;
  text-align: center;
}
